@import 'theme';

#table-dark {
  .state-annule, .state-inactif {
    background: $color-error;
  }
  .state-option {
    background: $color3;
  }
  .state-confirme, .state-actif {
    background: $color2;
  }
}


app-template-a #table-dark .state-option {
  background: $color1;
}
app-template-b #table-dark .state-option {
  background: $color-success;
}
